.gradle
/local.properties
\local.properties
/.idea/workspace.xml
\.idea\workspace.xml
.DS_Store
.idea/misc.xml
.idea\misc.xml
.idea/copyright/profiles_settings.xml
.idea\copyright\profiles_settings.xml
/.idea
\.idea
.idea/libraries/support_v4_19_1_0.xml

app/app.iml
